*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    background-color: #12222A;
    padding: 30px 25px;
    height: 90px;
}

.nav-logo-text, .nav-title{
    margin: 0;
}

.nav-logo-text{
    margin-right: auto;
    color: #61dafb;
    margin-left: 5px;
    font-weight: 700;
    font-size: 22px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-react-logo{
    width: 30px;
    margin-right: 2px;
}

.main{
    color: #ffffff;
    padding: 57px 27px; 
    background-image: url("./images/logo-half.png");
    background-repeat: no-repeat;
    background-position: right 75%;
    
}

.main-title{
    margin: 0px;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main-points{
    margin-top: 46px;
    max-width: 400px;
}


.main-points > li{
    line-height: 19px;
    padding-block: 10px;
}


.main-points > li::marker{
    color: #61DAFB;
    font-size: 1.4rem;
}

.main-react-logo ::marker{
    color: #33373E;
}